{% extends 'base.html.twig' %}

{% block title %}Département{% endblock %}

{% block body %}



    <div class="container">
        <h1 class="btn text-center pb-2 fa fa-3x" >Département: {{ county.label }}</h1>
    </div>

    <div class="container">
        <h2>Les derniers objets trouvés dans le département {{ county.label }}</h2>

        <section class="row">
            {% for traobject in traobjects if traobject.state.label == "trouve" %}

                {% include 'traobject/card.html.twig' with {'traobject' : traobject} only %}

            {% endfor %}

        </section>
    </div>

    <div class="container">
        <h2>Les derniers objets perdus dans le département {{ county.label }}</h2>
        <section class="row">
            {% for traobject in traobjects if traobject.state.label == "perdu" %}

                {% include 'traobject/card.html.twig' with {'traobject' : traobject} only %}

            {% endfor %}

        </section>
    </div>

{% endblock %}