<form method="post" action="{{ path('traobject_delete', {'id': traobject.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette annonce?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ traobject.id) }}">
    <button class="btn btn-lg btn-dark d-inline fa fa-trash fa-2x ">  Supprimer</button>
</form>
