{% extends 'base.html.twig' %}
{% block title %}Nouvelle annonce{% endblock %}
{% block body %}
    <div class="container mt-2">
    <h1  class="rounded text-center" style="color: #EB6864"><i class="fa fa-th-list mr-2"></i>Créer une nouvelle annonce</h1>

    {{ include('traobject/_form.html.twig') }}

    </div>
{% endblock %}
